Replace or update the grpc endpoint

### Description

### Description

Per https://github.com/golang/go/issues/63565 `Upgrade: h2c` is deprecated by RFC9113 and has been removed from the Go standard library.

Per https://github.com/grpc/grpc-java/issues/12013#issuecomment-2795021743 the GRPC library does not plan to add support for such connection upgrades.

Given that the endpoint is still undocumented (but needs to be documented as people move to BuildKit) now would be a good time to fix this.

Consider replacing this with something more standard, which will make it easier to integrate the gRPC API into third-party language bindings.

Maybe just have the endpoint return a `Location` header (or redirect) to a separate/dedicated GRPC server?

cc @tonistiigi @dmcgowan 

It would be trivial for us to support HTTP/2 with Prior Knowledge – and also properly support the deprecated `Upgrade: h2c` mechanism in a way that actually complies with RFC 7540 Section 3.2 by wrapping the daemon's HTTP handler in https://pkg.go.dev/golang.org/x/net@v0.40.0/http2/h2c

Both HTTP/2 with Prior Knowledge and proper h2c upgrade would work easily with grpc-java. HTTP/2 with Prior Knowledge is supported by all gRPC implementations, whereas few support h2c (which is why the hack not-really-h2c was done with grpc-go). Note that with both of those methods the server should be semantically the same whether speaking HTTP/1 or HTTP/2.

I suspected the Upgrade connected more directly with a grpc-go server, and that's why it needed to be POST specifically to `/grpc`. If HTTP/2 is a different server, then it is incompatible with prior knowledge and h2c, and HTTP CONNECT would be more fitting. (Or open a second port.)

> I suspected the Upgrade connected more directly with a grpc-go server, and that's why it needed to be POST specifically to `/grpc`

It's more straightforward than that. We [implemented the h2c upgrade incorrectly](https://github.com/moby/moby/blob/6f477852a1d43941afc37901597ec21edd11a342/api/server/router/grpc/grpc_routes.go) and [added it as a route to the HTTP server mux](https://github.com/moby/moby/blob/6f477852a1d43941afc37901597ec21edd11a342/api/server/router/grpc/grpc.go#L57-L61) instead of wrapping the HTTP server mux like we should have.