Cannot bind to new IPv6 address immediately after container creation in host network mode

**Description**

When assigning a new IPv6 address to an interface, immediately launching a container and attempting to bind to that address, the address appears unavailable when using `network=host` mode. This same issue is not present for IPv4 addresses.

This can cause obvious problems when a new IPv6 address is being assigned to some TCP/IP service on a machine and launched straight away.


Here is a simple reproducible test case.

I have a small program that binds to an (address, port) tuple provided in an environment variable:

```python
$ cat bind.py
import os
import socket

addr = (os.environ['SERVER_ADDR'], int(os.environ['SERVER_PORT']))
socket.create_server(addr, family=socket.AF_INET6)
print('done')
```

And a corresponding docker image (I created two images for both `AF_INET` and `AF_INET6`)

```
FROM python:3.9
COPY bind.py /bind.py
ENTRYPOINT /usr/bin/python3 bind.py
```

This is what happens when you attempt to run the image **without** first assigning the IP address to any interface on your host.

```bash
$ docker run --env SERVER_PORT=10001 --env SERVER_ADDR=dad:feed::1 --network=host test-bind6
Traceback (most recent call last):
  File "//bind.py", line 5, in <module>
    socket.create_server(addr, family=socket.AF_INET6)
  File "/usr/lib/python3.9/socket.py", line 925, in create_server
    raise error(err.errno, msg) from None
OSError: [Errno 99] Cannot assign requested address (while attempting to bind on address ('dad:feed::1', 10001))
```

Cool, that makes sense because the address doesn't exist.

Now if I create the address and run the same program directly afterwards, we should be able to bind to it. Yet you can see this fails, even though the IP is assigned correctly (the second command), and running the exact same container yields a success the second time.

```bash
$ sudo ip addr add feed:dad::5/64 dev enp63s0 && docker run --env SERVER_PORT=10001 --env SERVER_ADDR=feed:dad::5 --network=host test-bind6
Traceback (most recent call last):
  File "//bind.py", line 5, in <module>
    socket.create_server(addr, family=socket.AF_INET6)
  File "/usr/lib/python3.9/socket.py", line 925, in create_server
    raise error(err.errno, msg) from None
OSError: [Errno 99] Cannot assign requested address (while attempting to bind on address ('feed:dad::5', 10001))

$ ip addr show dev enp63s0 | grep feed:dad::5
    inet6 feed:dad::5/64 scope site

$ docker run --env SERVER_PORT=10001 --env SERVER_ADDR=feed:dad::5 --network=host test-bind6
done
```

If you add a sleep directly after assigning the address, and before running the container, it works:

```bash
$ sudo ip addr add feed:dad::6/64 dev enp63s0 && sleep 1 && docker run --env SERVER_PORT=10001 --env SERVER_ADDR=feed:dad::6 --network=host test-bind6
done
```

And it works **without a sleep** for IPv4.
```bash
$ sudo ip addr add 10.1.0.2 dev enp63s0 && docker run --env SERVER_PORT=10001 --env SERVER_ADDR=10.1.0.2 --network=host test-bind4
done
```

**Describe the results you received:**
The address cannot be bound to.

**Describe the results you expected:**
The address can be bound to.

**Output of `docker version`:**

```
Client:
 Version:           20.10.8
 API version:       1.41
 Go version:        go1.16.6
 Git commit:        3967b7d
 Built:             Sun Aug 15 22:43:35 2021
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:      true

Server:
 Engine:
  Version:          20.10.8
  API version:      1.41 (minimum version 1.12)
  Go version:       go1.16.6
  Git commit:       75249d8
  Built:            Sun Aug 15 00:00:00 2021
  OS/Arch:          linux/amd64
  Experimental:     true
 containerd:
  Version:          1.5.5
  GitCommit:
 runc:
  Version:          1.0.1
  GitCommit:        06fb178
 docker-init:
  Version:          0.19.0
  GitCommit:
```

**Output of `docker info`:**
```
Client:
 Context:    default
 Debug Mode: false

Server:
 Containers: 134
  Running: 0
  Paused: 0
  Stopped: 134
 Images: 576
 Server Version: 20.10.8
 Storage Driver: overlay2
  Backing Filesystem: btrfs
  Supports d_type: true
  Native Overlay Diff: true
  userxattr: false
 Logging Driver: journald
 Cgroup Driver: systemd
 Cgroup Version: 1
 Plugins:
  Volume: local
  Network: bridge host ipvlan macvlan null overlay
  Log: awslogs fluentd gcplogs gelf journald json-file local logentries splunk syslog
 Swarm: inactive
 Runtimes: io.containerd.runc.v2 io.containerd.runtime.v1.linux runc
 Default Runtime: runc
 Init Binary: /usr/libexec/docker/docker-init
 containerd version:
 runc version: 06fb178
 init version:
 Security Options:
  seccomp
   Profile: default
 Kernel Version: 5.13.13-250.vanilla.1.fc34.x86_64
 Operating System: Fedora 34 (Workstation Edition)
 OSType: linux
 Architecture: x86_64
 CPUs: 20
 Total Memory: 31.26GiB
 Name: mfp
 ID: NBZV:2HAM:TNHS:4LVU:2MYA:SPUP:RJP3:KBN5:KLKH:TP5I:CA4Y:V4UH
 Docker Root Dir: /var/lib/docker
 Debug Mode: false
 Registry: https://index.docker.io/v1/
 Labels:
 Experimental: true
 Insecure Registries:
  127.0.0.0/8
 Live Restore Enabled: true
```

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I've observed the same issue on version `19.03.13`.


When using `--net=host`, docker itself does not sit in between the networking stack (the process is ran directly in the host's network stack / namespace), 

Does the same issue reproduce if you don't use `sudo` (instead running all commands as a privileged user)?

What happens if you would run the same but not inside a container? i.e., something like;

```bash
sudo ip addr add feed:dad::5/64 dev enp63s0 \
  && SERVER_PORT=10001 SERVER_ADDR=feed:dad::6 ./bind.py
```

And similar, but taking the python code out of the equation;

non-containerised;

```bash
ip addr add feed:dad::5/64 dev eth0 \
  && ip address show dev eth0 \
  && ip addr del feed:dad::5/64 dev eth0
```

and same inside a container;

```bash
ip addr add feed:dad::5/64 dev eth0 \
  && docker run --rm --network=host alpine ip address show dev eth0 \
  && ip addr del feed:dad::5/64 dev eth0
```


As you correctly identified, this is reproducible outside of docker. Seeing this when running the program in docker was a red herring. Thanks for the help @thaJeztah!

Closing the issue.

You're welcome! Hope this helps finding a solution for your use-case.

For completeness, the delay is due to DAD (RFC2462, RFC4429, RFC7527) when configuring an IPv6 address. During DAD the IP is configured with a `tentative` state:
```
$ sudo ip addr add 2601:db8::12/128 dev enp63s0; ip addr show dev enp63s0
2: enp63s0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
    link/ether 2c:f0:5d:39:5b:3a brd ff:ff:ff:ff:ff:ff
    inet6 2601:db8::12/128 scope global tentative
       valid_lft forever preferred_lft forever
```
The IP cannot be bound when in the tentative. It is possible to specify either `optimistic` (faster) or `nodad` (immediate) when adding the IP address if the time taken to configure is too long.

Learn something new every day!