Using IP addresses with all-zero host part should not fail

### Description

"In IPv6, all zeros and all ones are legal values for any field, unless specifically excluded." ([RFC 4291, section 2](https://www.rfc-editor.org/rfc/rfc4291#section-2))

It is currently not possible to create containers with an IP address (both IPv6, and IPv4) having the host part set to all-zero, even if such addresses are not used at all. In addition, when attempting to do it, a wrong error message is returned  (`Address already in use`).

In comparison:
* using all-one host part for gateway or containers works as intended in IPv6, and is, as intended, denied in IPv4 (but with an unclear error message: `Address already in use` instead of for example `Broadcast address`);
* using such addresses on non containerized Linux hosts (using `iproute2`) works as intended.

This is unclear weather the same behavior for all-zero host part is expected on IPv4 as well since the introduction of Classless Inter-Domain Routing. This may sound counter intuitive, but I believe preventing all-zero host part is useless with modern systems, and in practice this works with `iproute2`.


### Reproduce

1. `docker network create --driver=bridge --subnet=fd00::/80 --gateway=fd00:: test1`
```
Error response from daemon: failed to allocate gateway (fd00::): Address already in use
```

or
1. `docker network create --driver=bridge --subnet=fd00::/80 --gateway=fd00::1 test2`
2. `docker run --network=test2 --ip6=fd00:: nginx`
```
docker: Error response from daemon: Address already in use.
ERRO[0000] error waiting for container: context canceled `
```

### Expected behavior

In the first case, the IP address `fd00::` should be used by the gateway since `fd00::` is a valid address in the range `fd00::/80`.
In the second case, the IP address `fd00::` should be used by the container for the exact same reason.


### docker version

```bash
Client: Docker Engine - Community
 Version:           25.0.1
 API version:       1.44
 Go version:        go1.21.6
 Git commit:        29cf629
 Built:             Tue Jan 23 23:09:46 2024
 OS/Arch:           linux/amd64
 Context:           default

Server: Docker Engine - Community
 Engine:
  Version:          25.0.1
  API version:      1.44 (minimum version 1.24)
  Go version:       go1.21.6
  Git commit:       71fa3ab
  Built:            Tue Jan 23 23:09:46 2024
  OS/Arch:          linux/amd64
  Experimental:     false
 containerd:
  Version:          1.6.27
  GitCommit:        a1496014c916f9e62104b33d1bb5bd03b0858e59
 runc:
  Version:          1.1.11
  GitCommit:        v1.1.11-0-g4bccb38
 docker-init:
  Version:          0.19.0
  GitCommit:        de40ad0
```


### docker info

```bash
Client: Docker Engine - Community      
 Version:    25.0.1                               
 Context:    default             
 Debug Mode: false       
 Plugins:                                                    
  buildx: Docker Buildx (Docker Inc.)
    Version:  v0.12.1 
    Path:     /usr/libexec/docker/cli-plugins/docker-buildx
  compose: Docker Compose (Docker Inc.)
    Version:  v2.24.2                                      
    Path:     /usr/libexec/docker/cli-plugins/docker-compose
                                                                    
Server:                                                     
 Containers: 4                                                      
  Running: 0  
  Paused: 0          
  Stopped: 4
 Images: 56            
 Server Version: 25.0.1
 Storage Driver: btrfs                   
  Btrfs:                         
 Logging Driver: json-file
 Cgroup Driver: systemd
 Cgroup Version: 2        
 Plugins:              
  Volume: local             
  Network: bridge host ipvlan macvlan null overlay
  Log: awslogs fluentd gcplogs gelf journald json-file local splunk syslog
 Swarm: inactive                                  
 Runtimes: io.containerd.runc.v2 runc                                                                                                   
 Default Runtime: runc             
 Init Binary: docker-init
 containerd version: a1496014c916f9e62104b33d1bb5bd03b0858e59
 runc version: v1.1.11-0-g4bccb38
 init version: de40ad0
 Security Options:
  apparmor
  seccomp
   Profile: builtin
  cgroupns
 Kernel Version: 6.1.0-15-amd64
 Operating System: Debian GNU/Linux 12 (bookworm)
 OSType: linux
 Architecture: x86_64
 CPUs: 8
 Total Memory: 15.29GiB
 Name: CometTail
 ID: b72da995-0839-4c58-afc5-a42b17d9b1ae
 Docker Root Dir: /var/lib/docker
 Debug Mode: false
 Experimental: false
 Insecure Registries:
  127.0.0.0/8
 Live Restore Enabled: false
 Default Address Pools:
   Base: 10.0.0.0/8, Size: 24
   Base: fd00:d0cc:e700:1111::/64, Size: 80
```


### Additional Info

_No response_

I edited the issue because I just remembered that this field is specifically excluded (section 2.6.1). This demonstrate why precise error messages are important.