Docker fails to read files with UTF8 BOM encoding


**Docker fails to read files with UTF8 BOM encoding**

<!--
Briefly describe the problem you are having in a few paragraphs.
-->

**Steps to reproduce the issue:**
1. Save TLS file with UTF8 BOM encoding (as opposed just UTF8)
2. Try to start docker with TLS enabled
3.

**Describe the results you received:**
Fails to start

**Describe the results you expected:**
Shall read files fine

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

```
Client:
 Version:	17.12.0-ce
 API version:	1.35
 Go version:	go1.9.2
 Git commit:	c97c6d6
 Built:	Wed Dec 27 20:05:22 2017
 OS/Arch:	windows/amd64

Server:
 Engine:
  Version:	17.12.0-ce
  API version:	1.35 (minimum version 1.24)
  Go version:	go1.9.2
  Git commit:	c97c6d6
  Built:	Wed Dec 27 20:15:52 2017
  OS/Arch:	windows/amd64
  Experimental:	true

```

**Output of `docker info`:**

```
Containers: 29
 Running: 0
 Paused: 0
 Stopped: 29
Images: 43
Server Version: 17.12.0-ce
Storage Driver: windowsfilter
 Windows: 
Logging Driver: json-file
Plugins:
 Volume: local
 Network: ics l2bridge l2tunnel nat null overlay transparent
 Log: awslogs etwlogs fluentd gelf json-file logentries splunk syslog
Swarm: inactive
Default Isolation: hyperv
Kernel Version: 10.0 16299 (16299.15.amd64fre.rs3_release.170928-1534)
Operating System: Windows 10 Enterprise
OSType: windows
Architecture: x86_64
CPUs: 8
Total Memory: 63.92GiB
Name: CND70637PKZBook
ID: 3BGZ:RYAG:C7JG:MGHC:KPPR:A667:FJD7:SFGW:JLQ3:T5SC:ZYI4:QPV5
Docker Root Dir: D:\images
Debug Mode (client): false
Debug Mode (server): false
Registry: https://index.docker.io/v1/
Labels:
Experimental: true
Insecure Registries:
 127.0.0.0/8
Live Restore Enabled: false


```

**Additional environment details (AWS, VirtualBox, physical, etc.):**


Thanks for reporting!

> Save TLS file with UTF8 BOM encoding (as opposed just UTF8)

The problem here is that `utf8 BOM` is not an encoding: UTF8 is the encoding, and "BOM" ([Byte Order Mark](https://en.wikipedia.org/wiki/Byte_order_mark)) is adding a couple of bytes to the start of the file that indicate the byte-order that's used.

This is likely something that would have to be addressed in Golang, as these files are loaded using the [`tls.LoadX509KeyPair()`](https://golang.org/src/crypto/tls/tls.go?s=5407:5474#L168) -> [`tls.X509KeyPair()`](https://golang.org/src/crypto/tls/tls.go?s=5915:5986#L183) standard functions. From the description;

> LoadX509KeyPair reads and parses a public/private key pair from a pair of files. The files must contain PEM encoded data

So digging a bit further, as to what PEM accepts, I found several similar reports, including one in the [NGINX issue tracker](https://trac.nginx.org/nginx/ticket/610) that refers to the RFC for `.pem` files [RFC 1421, section 4.3.1](https://tools.ietf.org/html/rfc1421#section-4.3.1)

>   ... conform to the characteristics of the underlying mail transport
>   medium (SMTP).  The encoding conforms to SMTP constraints.  Section
>   4.5 of RFC 821 [2] details SMTP's transparency constraints.
>
>   To prepare a message for SMTP transmission, the following
>   requirements must be met:
>
>        1.  All characters must be members of the 7-bit ASCII character
>            set.
>        2. .....

So, I'm not sure what's best here:

- Stripping the BOM would be trivial, but would preferabily be done in the Go std library
- According to the RFC, the `.pem` file should only contain characters from the  7-bit ASCII set. This means that it's ok to use UTF8 encoding, as long as characters used are in the ASCII range, but the BOM header _is not_, so the file is invalid.


ping @n4ss @cyli WDYT?

There is no standard way to do that (yet) afaik in Go and we always can debate about this but IMO, the perfect recipe for chaos is to start parsing manually the bytes of input in order to interpret them differently.

I think we should fix that when the language stdlib provides a way to do so.

I definitely feel the pain of having some "obscure" error message due to an editor adding a BOM header (which is not always an obvious/explicit choice), so if we can find a way to improve that situation, that would be a nice enhancement.

We did add code to strip the BOM from `Dockerfile` and `.dockerignore` (see https://github.com/moby/moby/pull/23234. Same for [Golang allowing a BOM in `.go` source files](https://github.com/golang/go/commit/6ce49303652420b55c7c878a924bbcd5e2e8e624)), but those are file-formats that accept non-ASCII characters. In this case, I have to agree with @n4ss that _stripping_ the BOM from these files would be a sliding slope, as the file is invalid.

Perhaps we can improve the _error_ though, and detect that it's invalid because of a BOM being present, and issue a more specific warning?


Why is it being refered to SMTP RFC? There is specific RFC for SSH Public Key File Format and that one specifies 8-bit types of UTF 8 (https://tools.ietf.org/html/rfc4716#section-3.3). Is 

@artisticcheese afaik we use the PEM file format specifically that implements [RFC 1421](https://tools.ietf.org/html/rfc1421): https://golang.org/pkg/encoding/pem
File format for SSH Pkeys is slightly different.